* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: #0a0a0f;
    color: #fff;
}

li {
    list-style: none;
}

/*navbar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px, 60px;
    background: #0d0d0d;
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar .logo {
    font-size: 1.2rem;
    font-weight: 600;
    background: linear-gradient(to right,cyan, rgb(255, 0, 255));
    color: transparent;
    background-clip: text;
    padding-left: 20px;
}

.navbar ul {
    padding-right: 40px;
    display: flex;
    list-style: none;
}

.navbar li {
    margin: 0 20px;
}

.btn-tournament {
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 20px;
    transform: scale(1.5);
}

.navbar a {
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.navbar a:hover {
    background: linear-gradient(to right,cyan, rgb(255, 0, 255));
    color: transparent;
    background-clip: text;
}


.hero {
    position: relative;
    height:100vh;
    /* background: url(https://i.pinimg.com/originals/1a/13/4c/1a134c6ed59035b38a418e17ed866323.jpg) center/cover no-repeat; */
    /* background: url(https://i.pinimg.com/originals/ed/62/0c/ed620c76b753c23e34ccad76a851dfc4.gif) center/cover no-repeat; */
    background: url(assets/Cyberpunk.png) center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.hero-content h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 10px;
    background: linear-gradient(to right,cyan, rgb(255, 0, 255));
    color: transparent;
    background-clip: text;

}

.hero-content h2 {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.3s;
}

.btn.primary {
    background: linear-gradient(to right,cyan, rgb(255, 0, 255));
    color: #000;
}

.btn.primary:hover {
    background: linear-gradient(to right,cyan, rgb(255, 0, 255));
    transform: scale(1.1);
}

.btn.secondary {
    border: 1px solid #0ff;
    color: #0ff;
}

.btn.secondary:hover {
    /* background: #0ff; */
    color: #0ff;
    transform: scale(1.1);
}

/*foote*/

footer {
    background-color: #0d0d0d;
    padding: 60px 80px 30px;
    color: #aaa;
}

.footer-container {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1fr;
    gap: 6Opx;
    margin-bottom: 4Opx;
}

.footer-about p {
    margin-bottom: 2Opx;
    margin-right: 50px;
}

.socials a img {
    margin-top: 20px;
    width: 25px;
    margin-right: 15px;
    filter: invert(70%);
    transition: 0.3s;
}

.socials a img:hover {
    filter: invert(100%);
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-links h4 {
    color: #fff;
    margin-bottom: 15px;
}

.footer-links a{
    color: #aaa;
    text-decoration: none;
    display: block;
    margin-bottom: 6px;
    transition: color 0.3s;
}

.footer-links a:hover{
    /* color: #0ff; */
    background: linear-gradient(to right,cyan, rgb(255, 0, 255));
    color: transparent;
    background-clip: text;
}

/* .footer-contact p {
    margin-bottom: 10px;
    margin-left: 50px;
} */

.footer-bottom {
    border-top: 1px solid #222;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    font-size: 0.9rem;
}

.footer-bottom a {
    color: #aaa;
    margin-left: 15px;
    text-decoration: none;
}

.footer-bottom a:hover {
    color: #0ff;
}


/* --- Tournaments, teams and games Pages --- */


.tournaments-section, .teams-section, .games-section, .blog-section, .contact-section{
    padding: 80px 10%;
    background-color: #0a0a0f;
    text-align: center;
}

.tournaments-container, .teams-container, .games-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 30px;
    margin-top: 40px;
}

.card {
    background-color: #111;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.tournament-info, .teams-info, .games-info {
    padding: 20px;
}

.tournament-info h3, .teams-info h3, .games-info h3 {
    margin-bottom: 10px;
    background: linear-gradient(to right, cyan, magenta);
    color: transparent;
    background-clip: text;
}

.tournament-info p, .teams-info p, .games-info p {
    margin: 4px 0;
    color: #ccc;
    font-size: 0.9rem;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px rgba(0,255,255,0.3);
}

.button-trn, .button-teams, .button-games {
    padding-top: 20px;
}

.btn-tournament-tournament, .btn-game-game {
    text-decoration: none;
    padding: 12px 28px;
    border-radius: 6px;
    transition: 0.3s;
    border: 1px solid #0ff;
    color: #0ff;
}

.btn-team-team {
    text-decoration: none;
    padding: 12px 28px;
    border: 1px solid rgb(130, 10, 130);
    color: rgb(130, 10, 130);
    border-radius: 6px;
    transition: 0.3s;
}



.blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.blog-card {
    background-color: #3f2a4f;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.blog-info {
    padding: 20px;
    text-align: left;
}

.blog-info h3 {
    font-size: 1rem;
    margin-bottom: 10px;
}

.blog-info p {
    color: #ccc;
    font-size: 0.90rem;
    margin-bottom: 10px;
}

.blog-info .author {
    font-size: 0.9rem;
    color: #999;
}
 
.btn-read {
    display: inline-block;
    /* border: 1px solid cyan; */
    margin-top: 10px;
    /* padding: 10px 20px; */
    text-decoration: none;
    color: cyan;
    transition: 0.3s;
}

.btn-read:hover
{
    transform: scale(1.1);
}

.blog-card:hover{
    transform: translateY(-10px);
}


.contact-form {
    background-color: #000;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
    border-radius: 25px;
}

.form-row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-top: 10px;
    margin-bottom: 8px;
    text-align: left;
}


input, textarea {
    background-color: rgb(220, 220, 220);
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}

.btn-send {
    background-color: #b100ff;
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    font-size: 1.1rem;
    cursor: pointer;
    border: none;
} 

.btn-send:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

